# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
.pnpm-store

# Nuxt build output
.output
.nuxt
.nitro

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Local environment files
.env
.env.*
!.env.example

# Docker related
Dockerfile
docker-compose.yml
.dockerignore

# Git related
.git
.gitignore

# Test files
coverage
*.lcov
.nyc_output